<!-- TODO: the segments flex think about design -->
<!--Note: for scrollShrink to work, the toolbar must be a sibling of a md-content element, placed before it.-->
<md-toolbar class="light" md-scroll-shrink md-shrink-speed-factor="0.5">
    <div class="site-width">
        <div layout="row" layout-align="start center" class="gd-tb-mn-sp">
            <div class="site-title" flex class="navigation-text-left">
                <!-- TODO: Needs to be cleaned/diciphered -->
                <h1>
                    <a href="#" class="gd-site-title-link-small">
                        <span>D</span>
                        <span class="_dot"></span>
                        <span>Kindred</span>
                    </a>
                </h1>
            </div>
            <div class="gd-tb-mn-sp-separator" flex></div>
            <div class="gd-tb-mn-sp-text-right" flex="60">
                <nav class="navigation js-nav-state">
                    <!-- <h2 class="off-screen"></h2> -->
                    <ul class="navigation-items" style="list-style-type: none;">
                        <li class="navigation-item"><a href="#" ng-style="">Full Stack</a></li>
                        <li class="navigation-item"><a href="#" ng-style="">Marketeering</a></li>
                        <li class="navigation-item"><a href="#/dkworkshop" ng-style="">Workshop</a></li>
                        <li class="navigation-item"><a href="#/dkpagetemplates" ng-style="">Templates</a></li>
                        <li class="navigation-item"><a href="#" ng-style="">About</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</md-toolbar>
