<md-card class="gsxSecondaryBannerWrapper md-default-theme gsxSecondaryBanner" layout="column" flex gsx-track gsx-track-category="Secondary Banner" gsx-track-action="impression" gsx-track-label="search?cat=412.422.423">
    <a ng-href="search?cat=412.422.423" href="search?cat=412.422.423" class="gsxSecondaryBannerImage" style="background-image:url(https://lh5.googleusercontent.com/proxy/tlPaoAduzhNyTQoDS7EFFo2kfpPyFeIGGT1wBYCyVVk1Pr-Kdi1Kqz_0r0svcbTR2xKswZBeCUZyJKudKl-VeksW-qsmdyXgykq-E1GSIGAvBbhrg4ZIsUKF_bXwBmGFE7O4Ms9s0NQY8g)"
        gsx-track="click" gsx-track-category="Secondary Banner" gsx-track-action="click" gsx-track-label="search?cat=412.422.423">
        <img ng-src="https://lh5.googleusercontent.com/proxy/tlPaoAduzhNyTQoDS7EFFo2kfpPyFeIGGT1wBYCyVVk1Pr-Kdi1Kqz_0r0svcbTR2xKswZBeCUZyJKudKl-VeksW-qsmdyXgykq-E1GSIGAvBbhrg4ZIsUKF_bXwBmGFE7O4Ms9s0NQY8g" class="md-card-image" alt="Snack o&#39;clock" src="https://lh5.googleusercontent.com/proxy/tlPaoAduzhNyTQoDS7EFFo2kfpPyFeIGGT1wBYCyVVk1Pr-Kdi1Kqz_0r0svcbTR2xKswZBeCUZyJKudKl-VeksW-qsmdyXgykq-E1GSIGAvBbhrg4ZIsUKF_bXwBmGFE7O4Ms9s0NQY8g">
    </a>
    <md-card-content flex="noshrink" style="background-color: #FFF; color: #000;">
        <h2 class="md-title">Snack o&#39;clock</h2>
        <p flex>Take a break and dig in</p>
    </md-card-content>
    <div class="callToAction" layout="row">
        <md-button class="md-primary" ng-href="search?cat=412.422.423" gsx-track="click" gsx-track-category="Secondary Banner" gsx-track-action="click" gsx-track-label="search?cat=412.422.423">Shop snacks</md-button>
    </div>
</md-card>


// var options = {
//   scripts: [
//     'node_modules/angular-highlightjs/angular-highlightjs..min.js'
//   ]
// };
