<div layout="column">

  <div class="mock-window-700">
    <div class="site-width-google-express">
      <div layout="row" layout-fill layout-align="center center" layout-wrap>
        <md-express-card cimage="https://placehold.it/380x235"></md-express-card>
      </div>
    </div>
  </div>

  <div class="mock-window-full">
      <div class="site-width-google-express">
        <div layout="row" layout-fill layout-align="space-between">
          <md-express-card cimage="../images/soda-pop-380.jpeg"></md-express-card>
          <md-express-card cimage="../images/chutneys-380.jpeg"></md-express-card>
          <md-express-card cimage="../images/chutneys-380.jpeg"></md-express-card>
        </div>
      </div>
  </div>

</div>
