/*
includes:
1. mock helpers
2. layout rules used in tandom with the card set up
3. Card component specific css
*/


/******
* Mock Helpers
******/

.example-width {
  width: 300px;
}

.mock-window-700{
  width: 700px;
  position: relative;
  margin: 0 auto 50px;;
  background: #f1f1f1!important;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.mock-window-full{
   width: 100%;

   position: relative;
   margin: 0 auto 50px;;
   background: #f1f1f1!important;
   box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
 }


/******
* Layout Considerations &
*
* Google uses the following in the layout
******/

/*
smaller windows
*/

.site-width-google-express {
  max-width: 90%;
  margin: auto;
}


  /*********
   * Full Page Window
   *********/


 @media screen and (min-width: 1270px) {
   .site-width-google-express {
     max-width: 1200px;

   }
 }


/*
card overall
*/

md-card.md-default-theme, md-card {
    background-color: rgb(255,255,255);
    border-radius: 2px;
}


/*
card image
*/

.md-expressCardBannerImage {
  overflow: hidden;
  display: inline-block;
  width: 100%;
  background: no-repeat center top;
  background-size: cover;
}

/*provides height 4 the image allows the cover to work*/

.md-expressCardBannerImage img {
    visibility: hidden;

}

md-card.md-default-theme .md-card-image, md-card .md-card-image {
    border-radius: 2px 2px 0 0;
}


/*is this a part of material or is this a google express: TODO*/
md-card>img, md-card>:not(md-card-content) img {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 100%;
  height: auto;
}

/*
card md-content
*/

.mdexpress-card md-card-content {
  padding-bottom: 0px !important;
}
.mdexpress-card h2 {
    font-size: 1.72em;
    font-weight: 400;
    line-height: 1.28em;
    margin: 0;
    padding: 0 0 6px;
}


.mdexpress-card p {
    font-size: 1.14em;
    overflow: hidden;
    padding-bottom: 3px;
    line-height: 1.28em;
    margin: 0;
}

.mdexpress-card md-card-title {
  padding: 0px;
}

.mdexpress-primary-blue {
  color: #3367d6;
  min-width: 10px;
}
md-card md-card-content>p:last-child {
    margin-bottom: 0;
}
