<div layout="row" ng-controller="DKindredController as vm" >
    <md-sidenav md-component-id="left" md-is-locked-open="$mdMedia('min-width: 272px')" class="md-sidenav-left">

    <header class="nav-header">
        <p>
            <a href="#/">home</a>
        </p>
        <a ng-href="/" class="docs-logo">
          <img src="img/icons/angular-logo.svg" alt="" />
          <h1 class="docs-logotype md-heading">DKindred Workshop</h1>
        </a>
      </header>

    <md-content>
        <!-- <p>
            {{vm.sections}}
        </p> -->
        <menu-toggle section="vm.section"></menu-toggle>
    </md-content>

    </md-sidenav>


<div layout="column" tabIndex="-1" role="main" flex>
  <md-toolbar class="md-whiteframe-glow-z1 site-content-toolbar">
      <div class="md-toolbar-tools docs-toolbar-tools" tabIndex="-1">
          <!-- TODO:  hamburger button -->
          <!-- TODO:  layout row with section title information -->
          <span flex></span> <!-- use up the empty space -->
          <!-- TODO:  right side menu information -->
      </div>
  </md-toolbar>


    <md-content md-scroll-y layout="column" flex>
      <div layout-padding flex="noshrink">
    <div ui-view> </div>
      </div>

      <div layout="row" flex="noshrink" layout-align="center center">
        <div id="license-footer" flex>

        </div>
      </div>
    </md-content>
  </div>
</div>
