<div layout="row">
    <md-sidenav md-component-id="left" md-is-locked-open="$mdMedia('min-width: 272px')" class="md-sidenav-left">

    <header class="nav-header">
        <a ng-href="/" class="docs-logo">
          <img src="img/icons/angular-logo.svg" alt="" />
          <h1 class="docs-logotype md-heading">DKindred Workshop</h1>
        </a>
      </header>

    <md-content>
    Left Menu
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </md-content>

    </md-sidenav>


<div layout="column" tabIndex="-1" role="main" flex>
  <md-toolbar class="md-whiteframe-glow-z1 site-content-toolbar">
      <div class="md-toolbar-tools docs-toolbar-tools" tabIndex="-1">
          <!-- TODO:  hamburger button -->
          <!-- TODO:  layout row with section title information -->
          <span flex></span> <!-- use up the empty space -->
          <!-- TODO:  right side menu information -->
      </div>
  </md-toolbar>


    <md-content md-scroll-y layout="column" flex>
      <div layout-padding flex="noshrink">
          view information goes here

          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

             Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>

      <div layout="row" flex="noshrink" layout-align="center center">
        <div id="license-footer" flex>
        <div ui-view></div>
        </div>
      </div>
    </md-content>
  </div>
</div>
